{% extends 'video_data/base.html' %}
{% load static %}

{% block title %} HOME {% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% block head_css_page %}
    <link href="{% static 'video_data/css/error.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}
{% block content %}
    <div class="error-text">
        <h1>Úpps!</h1>
        <p>Þar fór í verra!</p>
        <p>Síðan sem þú baðst um er ekki til.</p>
        <p>Farðu til baka og reyndu eitthvað annað.</p>
        <a href="{% url 'video_data:index' %}">Aftur á forsíðu.</a>
    </div>
{% endblock content %}