{% extends 'video_data/base.html' %}
{% load static %}

{% block title %} HOME {% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% block head_css_page %}
    <link href="{% static 'video_data/css/index.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}
{% block content %}
<div class="index-background">
    <div class="index-container">
        <div class="index-text-container">
            <h1>Eurovision!</h1>
            <p>Þetta Eurovision spádómstól notar tölur af Youtube til að sjá stöðuna á Eurovision lögunum sem taka þátt í Aðalkeppninni.</p>
            <p>Gögnin eru fengin úr Youtube myndböndunum af frammistöðu laganna sem komust áfram í undankeppninni.</p>
            <p>Hægt er að sjá "views", "likes", "comment count" og meira á hverju lagi í línuriti.</p>
            <p>Endilega sendið ábendingar og hrós/last á aronfreyrh@gmail.com, ég lofa að lesa allavega fyrsta póstinn sem ég fæ.</p>
        </div>
        <div class="euro-image">
            <img class="euro" src="{% static 'video_data/images/eurovision-2023-liverpool.jpg' %}">
        </div>
    </div>
    <div class="crowd-image">
        <img class="crowd" src="{% static 'video_data/images/crowd-cropped.jpg' %}">
    </div>
</div>


{% endblock content %}